{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <form class="col s12" id="login-form" method="post"
          action="{% url 'login' %}">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {{ form.as_p }}
                <button class="btn btn-large btn-register waves-effect waves-light" type="submit" value="Login"
                        name="action">Login
                    <i class="material-icons right">done</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
